# deploy
deploy/checkpoint/*
deploy/check/detectData

# OCR
OCR/**/.ipynb_checkpoints
OCR/check_data
OCR/checkpoints
**/__pycache__

# data
dataprepare/fromSJJ/*
dataPreprocess/history/*
dataPreprocess/sjj
dataPreprocess/sjj_v2
models/checkpoint/*
models/test
dataprepare/fromSJJ/history/
dataprepare/fromSJJ/data/
.idea
.vscode
.history
/dataprepare/fromSJJ/data/
/models/utils/sjj_v2/
/models/checkpoint/
/deploy/checkpoint/
/dataPreprocess/history/
