.idea/
.vscode/
.history/

# deploy
deploy/checkpoint/*
deploy/check/detectData
**/*.{bin,mar}

# OCR
**/.ipynb_checkpoints
OCR/check_data
**/__pycache__

# data
dataPreprocess/history/*
dataPreprocess/sjj
dataPreprocess/sjj_v2
models/checkpoint
models/test
dataprepare/fromSJJ/history
dataprepare/fromSJJ/data
**/checkpoints
**/checkpoint

# log
logs/
log/